*{
    margin: 0%;
    -webkit-font-smoothning:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family: lato;
}
body{
    background-color: hsl(13, 100%, 96%)

}
button{
    font-family: 'Lato', sans-serif;
}
.absolute{
    position: absolute;
}
.startbtn{
    margin-top: 25px;
    background-color:hsl(12, 88%, 59%) ;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;

}

.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.justify-bween{
    justify-content: space-between;
}
.p-8{
    padding-top: 5px;
}
.block{
    display: block;
}
.text-white{
    color: hsl(228, 39%, 23%);
    padding-right: 55px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
}
.text-align{
    align-items: center;
}
.bg-gray-900{
    padding: 5px 40px 4px 50px;
    max-width: 1200px;
    
}
.mx-auto{
    
    display: inline-block;
    margin: 20px 90px 30px 120px;
}
@media(min-width:600px){
   
}
.btnstyle{
    background-color: #539D98;
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 28px 12px 28px;
    margin-left: 400px;


}
.hero_img{
    float: right;
    margin:50px ;
}

.imgcls{
    width: 100%;
}
.relative{
    position: relative;


}
